/* ------------------------------------------ imports */







/* ------------------------------------------ Global var*/
:root {
    --main-white:#f0f0f0;
    --main-red:  #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

/* ------------------------------------------ Global settings*/
* {
    margin:0;
    padding:0;
}

html {
    box-sizing:border-box;
    font-size:62.5%;
    scroll-behavior:smooth;
}

body {
    font-family:'Poppins', sans-serif;
    font-size:1.8rem;
    font-weight:400;
    line-height:1.4;
    color: var( --main-white );
}

h1,h2 {
    font-family:'Raleway', sans-serif;
    font-weight:700;
    text-align:center;
}

h1 {
    font-size:6rem;
}

h2 {
    font-size:4.2rem;
}

a {
    text-decoration:none;
    color: var( --main-white );
}


/* ----------------------------------------- Header*/

body > header {
    background-color: var( --main-red );
    position:fixed;
    top:0;
    width:100%;
}


#navbar a {
    display:block;
    font-size: 2.2rem;
    padding:2rem;
}

#navbar a:hover {
    background-color: var( --main-blue );
}

#navbar {
    display:flex;
    justify-content: flex-end;


}

#navbar > ul {
    list-style:none;
    display:flex;
    justify-content:space-around;
    width:400px;
    margin-right: 2rem;
}



/* ----------------------------------------- Welcome section*/

#welcome-section {
    background-color: var( --main-gray );
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    /*this will make the welcome section full hight of our view port this is cool
     basically ensures that the main thing we see is a full welcome screen */
    height: 100vh;
    background-color:#000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}


#welcome-section > p {
    color: var( --main-red );
    font-weight:200;
    font-size:3rem;
    font-style:italic;
}

/* ---------------------------------------- projects section*/

#project-section {
    background-color: var( --main-blue );
    padding:10rem 2rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

#project-section > h2 {
    border-bottom: 2px solid var( --main-white );
    margin: 0 auto 6rem auto;
}


#project-wrapper {
    margin-top:50px;
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax( 320px, 1fr ) );
    grid-gap: 4rem;
    width: 100%;
    max-width:1280px;
    margin:0 auto;
    margin-bottom: 6rem;

}

.box {
    background-color: var( --main-gray );
    box-shadow: 1px 1px 2px rgba( 0,0,0,0.5 );
    border-radius:2px;

}

.box > img {
    /*this resolved alot of issues*/
    display:block;
    height: calc( 100% - 6.8rem);
    width:100%;
    object-fit:cover;
}

.box > footer {
    width:100%;
}

.box p {
    padding:2rem 0.5rem;
    font-size:2rem;
}

.btn {
    display:inline-block;
    margin-top: 40px;
    text-align:center;
    background-color: var( --main-gray );
    padding:10px;
    border-radius:2px;
    padding: 1rem 2rem;
}

.btn-show-all {
    font-size:2rem;
} 

.btn-show-all:hover {
    transition:background-color 0.3s ease-out;

}

.btn-show-all:hover {
    background-color: var(--main-red );
}

.btn-show-all > i {
    margin-left: 10px;
}

.code {
    color: var( --main-gray );
    transition: color 0.3s ease-out;


}

.box:hover .code {
    color: #ff7f50;
}

/* ---------------------------------------- contact section */

#contact-section {
    background-color: var( --main-gray );
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:80vh;
    padding:0 2rem;
} 

#contact-section > p {
    font-style:italic;
    text-align:center;
}


#links-list {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    list-style:none;
    margin-top:80px;
    font-size: 2.5rem;
}

#links-list li {
    margin: 8px 20px;
}


#links-list i {
    margin-right:0.5rem;
}

#links-list li {
    transition:transform 0.15s ease-out;

}

#links-list li:hover {
    transform:translateY( 10px );


}


/* ---------------------------------------- footer */

body > footer {
    border-top: 5px solid var( --main-red );
    background-color: var( --main-gray );
    display: flex;
    justify-content: space-around;

}

body > footer > p {
    padding: 2rem;

}
